*.pdf
/ProcessPlanner/build/
/ProcessPlanner/nbproject/private/
/ProcessPlanner/dist/
/PlanificadorProcesos/nbproject/private/
/PlanificadorProcesos/build/
/planificadorProcesos/nbproject/private/
*.txt
